/* Header */

.container {
    max-width: 80%;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: #5b6987ff;
    font-weight: 600;
}

.logo {
    width: 70px;
}


/* Main */


.jumbo {
    background-image: url(../jumbotron.jpg);
    height: 380px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


.hero-section {
    position: relative;


}

.hero-section a {
    position: absolute;
    top: -20px;
    left: 10%;
    padding: 0.5rem 2rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;

}


.card-img-top {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 4;



}

.card img {
    width: 100%;

}


img {
    width: 35px;
}


.card-top {
    width: 100%;
}



/* Footer */

ul {
    list-style: none;
}

.footer-top {
    background-image: url(footer-bg.jpg);
    min-height: 500px;
}